*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.log
*.log
*.log
app/hs_err_pid9900.log
app/hs_err_pid9844.log
app/hs_err_pid9520.log
app/hs_err_pid9352.log
app/hs_err_pid9296.log
app/hs_err_pid9264.log
app/hs_err_pid9164.log
app/hs_err_pid8928.log
app/hs_err_pid8900.log
app/hs_err_pid8700.log
app/hs_err_pid868.log
app/hs_err_pid8588.log
app/hs_err_pid8500.log
app/hs_err_pid7840.log
app/hs_err_pid7824.log
app/hs_err_pid7520.log
app/hs_err_pid7244.log
app/hs_err_pid6928.log
app/hs_err_pid6552.log
app/hs_err_pid6376.log
app/hs_err_pid6048.log
app/hs_err_pid5528.log
app/hs_err_pid5492.log
app/hs_err_pid5388.log
app/hs_err_pid5364.log
app/hs_err_pid464.log
app/hs_err_pid4100.log
app/hs_err_pid3984.log
app/hs_err_pid3236.log
app/hs_err_pid2108.log
app/hs_err_pid2088.log
app/hs_err_pid1896.log
app/hs_err_pid15256.log
app/hs_err_pid15056.log
app/hs_err_pid1412.log
app/hs_err_pid13832.log
app/hs_err_pid13704.log
app/hs_err_pid13028.log
app/hs_err_pid1300.log
app/hs_err_pid12776.log
app/hs_err_pid12736.log
app/hs_err_pid12552.log
app/hs_err_pid11736.log
app/hs_err_pid11712.log
app/hs_err_pid1156.log
app/hs_err_pid11432.log
app/hs_err_pid11348.log
app/hs_err_pid11168.log
app/hs_err_pid1116.log
app/hs_err_pid11144.log
app/hs_err_pid10884.log
app/hs_err_pid10504.log
app/hs_err_pid10268.log
app/hs_err_pid10124.log
