<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.titancalculator">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">

        <activity
            android:name="com.example.titancalculator.view.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- geplante Features
        <activity android:name=".geplanteFeatures.CustomDesignSettings" />
        <activity android:name=".geplanteFeatures.DesignSettingsActivity" />
        <activity android:name=".geplanteFeatures.CalcActivity_small" />
        <activity android:name=".geplanteFeatures.CalcActivity_normal" />
        <activity android:name=".geplanteFeatures.CalcActivity_science" />
        <activity android:name=".geplanteFeatures.FunctionGroupSettingsActivity" />
        <activity android:name=".geplanteFeatures.FontSettingsActivity" />
        <activity android:name=".geplanteFeatures.ButtonshapeActivity" />
        <activity android:name=".geplanteFeatures.ButtonSettingsActivity" />
        <activity android:name=".geplanteFeatures.SettingBackgroundimageActivity" />
        <activity android:name=".geplanteFeatures.SettingsActivity" />
        <activity android:name=".geplanteFeatures.HistoryActivity" />
        <activity
            android:name=".geplanteFeatures.ConstantsActivity"
            android:label="@string/title_activity_constants"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".geplanteFeatures.ConversionActivity" />
        <activity
            android:name=".geplanteFeatures.ChooserActivity"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->

    </application>

</manifest>